@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="row carding vh-100 align-items-center justify-content-between align-content-center">
    <div class="col-sm-4 my-auto">
        <img width="50%" height="50%" src="https://cardlinesbc.com/wl/cardline/images/loginlogo.svg" />
    </div>
    <div class="col-sm-4 card p-5" style="border-radius: 5%; width: 30%">
        @RenderBody()
    </div>

</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}